vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Dec 2012 17:57:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|XPS15Z\\Kris
vti_modifiedby:SR|KRIS-XPS\\Kris
vti_timecreated:TR|12 Jan 2012 13:35:58 -0000
vti_backlinkinfo:VX|privacy.html
vti_nexttolasttimemodified:TW|08 Dec 2012 17:54:48 -0000
vti_syncwith_s140076.gridserver.com\:21/domains/lookitskris.com/html:TX|08 Dec 2012 17:57:10 -0000
vti_syncofs_s140076.gridserver.com\:21/domains/lookitskris.com/html:TW|08 Dec 2012 17:59:06 -0000
vti_cacheddtm:TX|08 Dec 2012 17:57:10 -0000
vti_filesize:IR|7066
vti_cachedlinkinfo:VX|S|../fonts/segoeui-webfont.eot S|../fonts/segoeui-webfont.eot S|../fonts/segoeui-webfont.woff S|../fonts/segoeui-webfont.ttf S|../fonts/segoeui-webfont.svg S|../fonts/segoeuil-webfont.eot S|../fonts/segoeuil-webfont.eot S|../fonts/segoeuil-webfont.woff S|../fonts/segoeuil-webfont.ttf S|../fonts/segoeuil-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|assets/fonts/segoeui-webfont.eot FSUS|assets/fonts/segoeui-webfont.eot FSUS|assets/fonts/segoeui-webfont.woff FSUS|assets/fonts/segoeui-webfont.ttf FSUS|assets/fonts/segoeui-webfont.svg FSUS|assets/fonts/segoeuil-webfont.eot FSUS|assets/fonts/segoeuil-webfont.eot FSUS|assets/fonts/segoeuil-webfont.woff FSUS|assets/fonts/segoeuil-webfont.ttf FSUS|assets/fonts/segoeuil-webfont.svg
